{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.username }}!{% endblock %}

{% block body %}
    <h1>Hello {{ user.username }}</h1>
    <p>This is profile page for user {{ user.email }}</p>
{% endblock %}
