{% extends 'base.html.twig' %}

{% block title %}Game Board{% endblock %}

{% block body %}
    <h1>Game Board</h1>

    <h2>Boards</h2>
    <a href="#"><p>Room #1 (5/10)</p></a>
    <a href="#"><p>Room #2 (3/10)</p></a>
    <a href="#"><p>Room #3 (0/10)</p></a>
{% endblock %}
