.message-box {
    box-shadow: 0 0 1px black;
    margin-top: 10px;
}

.stats {
    text-align: center;
}

.stats-main {
    padding: 10px 0px;
}

.stats-main-title {
    font-size: 25px;
}

.chat {
    padding-top: 15px;
    height: 600px;
    max-height: 600px;
}

.message {
    width: 75%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message p {
    background-color: #dfdfdf;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
}

.personal-message p {
    float: right;
}

.personal-message {
    float: right;
    text-align: right;
    margin-right: 15px;
}

.receieved-message {
    float: left;
}